<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testng Suite">
<listeners> <listener class-name='com.qait.utils.CustomReport'/> </listeners>
  <test name="Test">
    <classes>
      <class name="com.qait.test.Gmail_login"/>
    </classes>
  </test>
</suite> <!-- Suite -->
